.id-animal {
    display: grid;
    grid-template-columns: 1fr;

    input {
        padding: 5px;
        width: 200px;
    }
}

#id-pet {
    pad: 10px;
}

.botao-edit {
    margin-top: 20px;
    padding: 6px;
    background-color: #ffedcd;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    width: 150px;
    cursor: pointer;
}

#edit-pet {
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-direction: column;
    justify-content: center;
    gap: 12px;

    select {
        padding: 5px;
        width: 200px;
    }
}