.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}

.conteudo-modal {
    display: flex;
    background-color: #ffffff;
    width: 60%;
    height: 75%;
    border-radius: 20px;
}

#fechar-modal {
    float: right;
    cursor: pointer;
    font-size: 42px;
    margin-right: 25px;
}

#modal-img {
    margin-top: 4%;
    margin-left: 2%;
    width: 48%;
}

#modal-text {
    width: 45%;
    margin-top: 4%;
    margin-left: 2%;
    font-size: 24px;
}