@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&family=Stack+Sans+Text&display=swap');

* {
  font-family: "M PLUS 1", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 0;
  padding: 0;
}

section {
    padding: 28px 8%;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#animais {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}

.animal {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: 25%;
    padding: 20px;
    background-color: #eeeeee;
    position: relative;
}

.animal-img {
  max-width: 100%; 
  height: auto;
  border-radius: 10px;
}

@media screen {
    #animais {
        flex-wrap: wrap;
        justify-content: center;
    }

    .animal {
        width: calc(25% - 58px);
    }
}

@media screen and (max-width: 1200px) {
    #animais {
        flex-wrap: wrap;
        justify-content: center;
    }

    .animal {
        width: calc(50% - 52px);
    }
}

@media screen and (max-width: 900px) {
    #animais {
        flex-wrap: wrap;
        justify-content: center;
    }

    .animal {
        width: 100%;
    }
}